<!DOCTYPE html>
<html lang="zh-CN" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" type="text/css" href="login/login_font/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="login/login_iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="login/login_css/loginUtil.css">
    <link rel="stylesheet" type="text/css" href="login/login_css/loginMain.css">
    <script src="common/util/md5.js"></script>
    <script src="common/vue/vue.js"></script>
    <script src="common/axios/axios.min.js"></script>
    <script src="common/jquery/jquery-3.0.0.min.js"></script>
</head>
<body>
<div class="limiter">
    <div class="container-login100" id="login_background" style="background-image: url('login/login_image/3.jpg');">
        <div id="initPasswordDiv" class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <!--<form id="loginForm" class="login100-form validate-form">  form表单里的button点击后会自动提交表单所以我们不用表单-->
            <span class="login100-form-title p-b-49">生成加密密码</span>
            <div>
                <div class="wrap-input100 validate-input m-b-23" data-validate="要加密的密码">
                    <span class="label-input100">要加密的密码</span>
                    <input class="input100" type="password" name="newPassword" placeholder="要加密的密码" autocomplete="off" v-model="newPassword">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="请输入访问接口密码">
                    <span class="label-input100">请输入访问接口密码</span>
                    <input class="input100" type="password" name="inItPassword" placeholder="请输入访问接口密码" v-model="initPassword">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="请输入密码">
                    <span class="label-input100">{{responseMsg}}</span>
                </div>
            </div>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" v-on:click="inItPasswordFunction">生成</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/initPassword.js"></script>
</body>
</html>